<?xml version='1.0'?>
<sdf version='1.6' xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name='camera_udp_port' default='5600' />
  <xacro:arg name='camera_pose' default='-0.158979 -0.04405 0.045074 0 -0 0'/>
    <model name='stereo_cam'>
      <!--<pose>$(arg camera_pose)</pose>-->
      <pose>0.15 0 0.03 0 0 0</pose>
      <link name='link'>
        <inertial>
          <mass>0.015</mass>
          <inertia>
            <ixx>4.15e-6</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>2.407e-6</iyy>
          <iyz>0</iyz>
          <izz>2.407e-6</izz>
          </inertia>
        </inertial>
        <collision name='collision'>
          <geometry>
            <box>
              <size>0.05 0.05 0.05</size>
            </box>
          </geometry>
          <max_contacts>10</max_contacts>
          <surface>
            <contact>
              <ode/>
            </contact>
            <bounce/>
            <friction>
              <ode/>
            </friction>
          </surface>
        </collision>
        <visual name='visual'>
          <geometry>
            <box>
              <size>0.05 0.05 0.05</size>
            </box>
          </geometry>
        </visual>
        <sensor type="multicamera" name="stereo_camera">
          <update_rate>30.0</update_rate>
	  <camera name="left">
	    <horizontal_fov>2.1282</horizontal_fov>
	    <image>
	      <width>752</width>
	      <height>480</height>
	      <format>R8G8B8</format>
	    </image>
	    <clip>
	      <near>0.02</near>
	      <far>300</far>
	    </clip>
	    <noise>
	      <type>gaussian</type>
	      <mean>0.0</mean>
	      <stddev>0.007</stddev>
	    </noise>
	  </camera>
	  <camera name="right">
	    <pose>0 -0.12 0 0 0 0</pose>
	    <!--<horizontal_fov>1.3962634</horizontal_fov>-->
	    <horizontal_fov>2.1282</horizontal_fov>
	    <image>
	      <width>752</width>
	      <height>480</height>
	      <format>R8G8B8</format>
	    </image>
	    <clip>
	      <near>0.02</near>
	      <far>300</far>
	    </clip>
	    <noise>
	      <type>gaussian</type>
	      <mean>0.0</mean>
	      <stddev>0.007</stddev>
	    </noise>
	  </camera>
	  <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
	    <alwaysOn>true</alwaysOn>
	    <updateRate>30.0</updateRate>
	    <cameraName>multisense_sl/camera</cameraName>
	    <imageTopicName>image_raw</imageTopicName>
	    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
	    <frameName>left_camera_optical_frame</frameName>
	    <!--<rightFrameName>right_camera_optical_frame</rightFrameName>-->
	    <CxPrime>435.09375762939453</CxPrime>
            <Cx>435.09375762939453</Cx>
            <Cy>239.09423828125000</Cy>
	    <hackBaseline>0.12</hackBaseline>
	    <focalLength>208.42109</focalLength>
	    <distortionK1>0.0</distortionK1>
	    <distortionK2>0.0</distortionK2>
	    <distortionK3>0.0</distortionK3>
	    <distortionT1>0.0</distortionT1>
	    <distortionT2>0.0</distortionT2>
	  </plugin>
          <!-- GStreamer camera plugin (needs a lot of CPU! Consider lowering the
             camera image size) -->
          <plugin name="GstCameraPlugin" filename="libgazebo_gst_camera_plugin.so">
            <robotNamespace></robotNamespace>
            <udpPort>$(arg camera_udp_port)</udpPort>
          </plugin>
        </sensor>
        <self_collide>0</self_collide>
        <kinematic>0</kinematic>
      </link>
  </model>
</sdf>
